li {
  position: relative;
  display: block;
  width: 15px;
  height: 15px;
  margin: 25px;
}

li > span {
  position: absolute;
  left: 250%;
  white-space: nowrap;
}

@keyframes beam {
  25% {
    opacity: 1;
    transform: scale(1.5);
  }

  0%,
  50%,
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

li > div {
  position: absolute;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: beam 3s infinite;
}

li > div:nth-child(2) {
  animation-delay: 1s;
}

li > div:nth-child(3) {
  animation-delay: 2s;
}

.red {
  background: red;
  border-radius: 50%;
}

.green {
  background: green;
  border: 3px solid black;
}

.blue {
  background: blue;
  box-shadow: 0 5px 5px 0 black;
}

.red.green {
  background: orange;
}

.red.blue {
  background: violet;
}

.blue.green {
  background: yellow;
}

.red.green.blue {
  background: whitesmoke;
}
